.navbar{
    position: fixed;
}
a{
  text-decoration: none;
}
.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid rgb(253, 253, 253);
    white-space: nowrap;
    animation: typing 3s steps(25, end) forwards, blink 1s infinite 2s forwards;
    font-size: 1.6rem;
    width: 0;
    font-family: 'Silkscreen';
    color: white;

  }

  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes blink {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
    100% {
      border-color: transparent;
    }
  }

  @keyframes pause {
    0% {
      width: 100%;
    }
    50% {
      animation-play-state: paused;
    }
    100% {
      width: 100%;
      animation-play-state: running;
    }
  }

  .typewriter h1::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    animation: pause 1s infinite;
  }
